<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169586301956-hiukv93516elte20mldlq7o81ug3bt04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169586301956-hiukv93516elte20mldlq7o81ug3bt04</string>
	<key>API_KEY</key>
	<string>AIzaSyB15iv4THegior9wsp4v1EXA7C2ZFE24SY</string>
	<key>GCM_SENDER_ID</key>
	<string>169586301956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ankit.Messanger</string>
	<key>PROJECT_ID</key>
	<string>messanger-61a68</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-61a68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169586301956:ios:1edb542f7d16a11b656951</string>
	<key>DATABASE_URL</key>
	<string>https://messanger-61a68.firebaseio.com</string>
</dict>
</plist>